.media-list{

    margin: 0 auto;
    width: fit-content;

    font-family: 'Inter';
    font-weight: 700;

    &__title{

        font-size: 1.1rem;
        color: #A2ACA6;
    }

    &__cards{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: fit-content;
    }

    &__cards::-webkit-scrollbar{
        display: none;
    };
}
