.media-list{

    margin: 0 auto;
    width: 90vw;

    font-family: 'Inter';
    font-weight: 700;

    &__title{

        font-size: 1.1rem;
        color: #A2ACA6;
    }

    &__cards{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 4vw;
        width: 100%;
    }

    &__cards::-webkit-scrollbar{
        display: none;
    };
}
