.media-card{

    &__cover{

        width: 40vw;
        height: 60vw;
        background: #051116;
        border-radius: 1vw;
    }

    &__text{

        height: 14vw;
        align-items: end;
        display: grid;

        h2, h3{

            margin: 0;
        }

        &__name{

            font-size: 3.5vw;
            font-weight: 700;
            color: #B6B6B6;
        }
    
        &__release-year{

            font-weight: 400;
            font-size: 3.3vw;
            color: #828282;
        }
    }
}