:host{

    width: fit-content;
}

.media-card{

    &__cover{

        background: red;
        width: 8rem;
        height: 12rem;
        border-radius: .25rem;
    }

    &__name{

        font-size: .7rem;
        font-weight: 700;
        line-height: .8rem;
        color: #B6B6B6;
    }

    &__release-year{

        font-weight: 400;
        font-size: .7rem;
        line-height: 6px;
        color: #828282;
    }
}