.nav-bar{

    display: flex;
    background-color: #1A1F38;
    justify-content: space-between;
    align-items: center;

    &__logo{

        font-family: 'Inter';
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        margin: 1rem;
    }

    &__search{

        position: relative;
        text-align: right;
        display: flex;
        align-items: center;
        margin: 0 1rem;

        &__input{

            width: 0px;
            opacity: 0;
            transition: width .5s, opacity .5s;
            color: #FFFFFF;           
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            background: rgba(196, 196, 196, 0.4);
            border-radius: .25rem;
            border: 0;
            padding-bottom: 4px;
        }

        &__icon{

            position: absolute;
            right: .5rem;
            color: #FFFFFF; 
        }
    }
}

.expanded-input{

    width: 181px;
    opacity: 1;
    transition: width .5s, opacity .5s;
}

@media (min-width: 768px)
{
    .nav-bar__logo{

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        margin: 1rem 70px;
    }

    .nav-bar__search{

        &__input{

            width: 0px;
            opacity: 0;
            font-size: 36px;
            padding-bottom: .5rem;
            border-radius: .5rem;
        }

        &__icon{

            width: 35px;
            height: 35px;
        }
    }

    .expanded-input{

        width: 350px;
        opacity: 1;
        transition: width .5s, opacity .5s;
    }
}

@media (min-width: 1200px)
{
    .nav-bar__logo{

        font-size: 32px;
        margin: .5rem 70px;
    }

    .nav-bar__search{

        &__input{

            font-size: 1rem;
            border-radius: .25rem;
            width: 300px;
            opacity: 1;
        }

        &__icon{

            width: 1rem;
            height: 1rem;  
        }
    }

    .expanded-input{

        width: 300px;
    }
}