.media-list{

    margin: 0 auto;
    width: 90vw;

    font-family: 'Inter';
    font-weight: 700;

    &__title{

        margin-top: 2rem;
        font-size: 1.1rem;
        color: #A2ACA6;
    }

    &__cards{

        overflow: hidden;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
    }

    &__cards > media-card{

        width: 40vw;
    }

    &__cards::-webkit-scrollbar{
        display: none;
    };
}

.card-skeleton{

    display: unset;

    &__card{

        width: 100%;
        margin-bottom: 2rem;

        &__poster{

            width: 40vw;
            height: 60vw;
            animation: skeleton-loading 1s linear infinite alternate;
            border-radius: 1vw;
        }

        &__text{

            height: 14vw;
            align-items: end;
            display: grid;

            &__title{

                height: 3vw;
                width: 100%;
                border-radius: .8vw;
                animation: skeleton-loading 1s linear infinite alternate;
            }
    
            &__year{
    
                height: 3vw;
                width: 25%;
                border-radius: .8vw;
                animation: skeleton-loading 1s linear infinite alternate;
            }
        }
    }
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(191, 52%, 8%);
    }

    100%{
        background-color: hsl(191, 52%, 5%);
    }
}

@media (min-width: 1200px)
{
    .card-skeleton{

        &__card{
    
            width: 20vw;
    
            &__poster{
    
                width: 100%;
                height: 32vw;
            }
    
            &__text{
    
                height: 5.4vw;
                &__title{
    
                    height: 2vw;
                    border-radius: .3vw;
                }
        
                &__year{
        
                    height: 1.3vw;
                    width: 3.5vw;
                    border-radius: .3vw;
                }
            }
        }
    }
}

@media (min-width: 1600px)
{
    .media-list{

        width: 100%;
    }

    .card-skeleton{

        &__card{
    
            width: 12.5rem;
    
            &__poster{
    
                width: 100%;
                height: 18rem;
                border-radius: .5rem;
            }
    
            &__text{
    
                height: 4.3rem;

                &__title{

                    height: 1vw;
                    border-radius: .3vw;
                }

                &__year{

                    height: .8vw;
                    width: 2.5vw;
                    border-radius: .3vw;
                }
            }
        }
    }
}