.copyright{

    width: 90vw;
    padding: 15vw 0;
    margin-left: 1rem;
    color: #FFFF;
    font-family: 'Inter';
    font-style: normal;

    &__title{

        font-size: 8vw;
        &__logo{

            font-weight: 700;
        }

        &__year{

            font-weight: 300;
        }
    }

    &__api{
        
        font-size: 5vw;

        a{
            color: #FFFF;
        }
    }
}

@media (min-width: 1200px)
{
    .copyright__title{

        font-size: 2rem;
    }

    .copyright__api{

        font-size: 1.1rem;
    }

    .copyright{

        padding: 5rem 0;
    }
}

@media (min-width: 1600px)
{
    .copyright{
        
        width: fit-content;
    }
    
    .copyright__title{

        font-size: 1.5rem;
    }

    .copyright__api{

        font-size: .8rem;
    }

    .copyright{

        padding: 5rem 0;
    }
}