.search-page{

    display: grid;
    justify-content: center;

    &__medias{
        display: flex;
        button{
            width: 50%;
        }
    }
    &__title{

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        
        color: #FFFFFF;

        width: fit-content;
        margin-top: 1rem;
    }

    &__results{

        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-auto-flow: row dense;
        width: fit-content;
    }

    &__pages{

        display: flex;
        justify-content: center;
        margin: 1rem 0;

        button{

            margin: 0 .2rem;
        }
    }
}