.search-page{

    &__title{

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        
        color: #FFFFFF;
    }

    &__results{

        display: grid;
        gap: 10px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}